body{
    background-color: #33A2FF;
}

p {
    font-family: monospace;
    text-align: center;
    color: white
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgoldenrodyellow;
    font-style: italic;
    text-align: right;
}